<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>为我点赞 为服务打赏</title>
    <meta name="viewport"
          content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta content="telephone=no" name="format-detection"/>
    <meta name="keywords" content="麦当劳、深圳麦当劳、点赞、打赏"/>
    <meta name="description" content="深圳区麦当劳点赞活动"/>
</head>
<body>
<%= error %>
<br>
<a href="#" onclick="window.location.href=window.location.href.split('?')[0];">重新尝试</a>
</body>
</html>