<div id="page3">
    <div class="page1-top padding-10px">
        <img class="left" src="/public/images/page1/top-left.png">
        <img class="right" src="/public/images/page1/top-right.png">
    </div>
    <div class="slogan text-align-center">
        <img src="/public/images/slogan.png">
    </div>
    <div class="padding-10px main-content">
        <question :question="question" :answers="answers" :type="type" :layout="layout"/>
    </div>
    <div class="cursor-animate" v-show="checked"></div>
    <div class="people people1 bottom-right ani" swiper-animate-effect="bounceInUp"
         swiper-animate-duration="0.5s"></div>
</div>
<script>
    $(function () {
        var question = window.forum[0] = new Vue({
            el: '#page3',
            data: {
                question: '1、你愿意为我们哪些员工点赞（多选题）',
                type: 'checkbox',
                layout: 'list',
                checked: false,
                answers: JSON.parse('<%- vote.page3 %>'),
            },
            computed: {
                hasChecked: {
                    set: function (v) {
                        this.checked = v;
                        lockSwipe(v);
                        return v;
                    }
                }
            }
        });

        function lockSwipe(value) {
            if (value) {
                window.unlockSwipe();
            } else {
                window.lockSwipe();
            }
        }

        window.OnSwipe['<%=index%>'] = function () {
            lockSwipe(question.checked);
        };

    });
</script>