<style>
    .page2-top {
        height: 50px;
    }

    .page2-top img {
        height: 100px;
        position: absolute;
        transform: rotate(7deg);
    }

    .page2-text {
        margin: 80px 0 30px;
    }

    .page2-text img {
        width: 80%;
    }
</style>
<div class="ribbon ribbon3"></div>
<div class="ribbon ribbon4"></div>
<div class="main-content">
    <div class="page2-text text-align-center">
        <img src="/public/images/page2/text.png"/>
    </div>
    <div class="people main ani" swiper-animate-effect="bounceInUp" swiper-animate-duration="0.5s"></div>
</div>
<div class="cursor-animate"></div>